<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success" id="paymentModalLabel">Payment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="cardInput1" class="form-label">Card Name and Surname</label>
                    <input type="text" class="form-control" id="cardInput1" placeholder="Name Surname">
                </div>
                <div class="mb-3">
                    <label for="cardInput2" class="form-label">Credi Card Number</label>
                    <input type="number" maxlength="20" class="form-control" id="cardInput2"
                        placeholder=".... .... .... ....">
                </div>
                <div class="mb-3">
                    <label for="cardInput3" class="form-label">Expiration Date</label>
                    <input type="date" class="form-control" id="cardInput3" placeholder="../../....">
                </div>
                <div class="mb-3">
                    <label for="cardInput4" class="form-label">Card CVC</label>
                    <input type="text" class="form-control" id="cardInput4" placeholder="***">
                </div>
                <div class="mb-3">
                    <label class="form-label">Amount</label>
                    <h5 class="text-danger">{{totalPrice | currency: 'TRY':'symbol-narrow':'1.2-2'}} </h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="modalCloseButton">Close</button>
                <button type="button" class="btn btn-success" (click)="payment()">Save</button>
            </div>
        </div>
    </div>
</div>